css/* ==========================================================================
   1. ТЁМНАЯ КАНАГАВА (По умолчанию, префикс --kg-)
   ========================================================================== */
:root {
    --kg-bg-main: #1f1f28; /* Главный темный фон сайта */
    --kg-bg-side: #2a2a37; /* Хедер и футер */
    --kg-bg-card: #2a2a37; /* Карточки контента */
    --kg-tx-main: #c8c093; /* Текст пергаментного цвета */
    --kg-tx-mute: #717c7c; /* Второстепенный текст */
    --kg-hd-main: #76946a; /* Зеленые заголовки */
    --kg-lnk-main: #7e9cd8; /* Синие ссылки и кнопки */
    --kg-lnk-hovr: #c0a36e; /* Наведение мыши (желтый) */
    --kg-bd-line: #363646; /* Разделительные рамки */
}

/* ==========================================================================
   2. СВЕТЛАЯ КАНАГАВА (Включается через <html data-theme="kl">, префикс --kl-)
   ========================================================================== */
:root[data-theme="kl"] {
    --kl-bg-main: #f2ecde; /* Светлый фон рисовой бумаги */
    --kl-bg-side: #e6e0d2; /* Хедер и футер */
    --kl-bg-card: #e6e0d2; /* Карточки контента */
    --kl-tx-main: #1f1f28; /* Основной темный текст */
    --kl-tx-mute: #717c7c; /* Серые подписи */
    --kl-hd-main: #4d6645; /* Глубокие зеленые заголовки */
    --kl-lnk-main: #39568c; /* Строгие синие ссылки */
    --kl-lnk-hovr: #a67324; /* Наведение мыши (рыжий) */
    --kl-bd-line: #d2cbb8; /* Светлые границы */
}

/* ==========================================================================
   3. ТЁМНЫЙ ГРУВБОКС (Включается через <html data-theme="gb">, префикс --gb-)
   ========================================================================== */
:root[data-theme="gb"] {
    --gb-bg-main: #282828; /* Фон редактора VS Code */
    --gb-bg-side: #1e1e1e; /* Глухой темный цвет панелей */
    --gb-bg-card: #32302f; /* Фон карточки (активный таб) */
    --gb-tx-main: #ebdbb2; /* Мягкий кремовый текст */
    --gb-tx-mute: #a89984; /* Второстепенный серый текст */
    --gb-hd-main: #ea6962; /* Оранжево-красные заголовки */
    --gb-lnk-main: #a9b665; /* Ретро-зеленые кнопки */
    --gb-lnk-hovr: #7daea3; /* Наведение мыши (мягкий синий) */
    --gb-bd-line: #45403d; /* Линии вкладок */
}
